body{

    text-align: center;
    padding: 100px;
}
button{
    border-radius: 8px;
    background-color: aquamarine;
    color: black;
    height: 30px;
    cursor: pointer;
}
button:hover{
     width: 120px;
     height: 35px;
    }
div{
    height: 100px;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;

}
